* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a {
  color: #149ddd;
  text-decoration: none;
}
a:hover {
  color: #37b3ed;
  text-decoration: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #040b14;
  overflow-y: auto;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  z-index: 9997;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  height: 120px;
  border: 2px solid #7f818a99;
}
#header .profile h1 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
#header .profile h1 a {
  text-decoration: none;
  color: white;
}
#header .profile .social-links a i {
  font-size: 15px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .profile .social-links a i:hover {
  background: rgb(20, 158, 222);
}

#navbar {
  padding-top: 30px;
  color: #a8a9b4;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 16px;
  color: #a8a9b4;
}

.nav-menu ul {
  padding-left: 15px;
}

.nav-menu ul li i {
  padding-right: 15px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i {
  color: #149ddd;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}


#main {
  margin-left: 300px;
}

.container,
.container-fluid {
  padding-left: 30px !important;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }

  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*hero section*/

#hero {
  width: 100%;
  height: 100vh;
  background: url("images/WhatsApp\ Image\ 2023-10-25\ at\ 4.48.18\ PM.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.273);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin-bottom: 10px;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (max-width: 906px) {
  #hero {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*section*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f8fd;
}

.section-title {
  padding: bottom 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  left: 0;
  bottom: 0;
}

.section-title p {
  margin-bottom: 30px;
}

/*About*/

.about .content h3 {
  font-weight: 700;
  font-size: 40px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*Skills*/

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 0;
  margin: bottom 6px;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: #050d18;
  font-family: "Poppins", sans-serif;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
  margin-top: 10px;
}

.skills .progress-bar {
  height: 10px;
  transition: 0.9s;
  background: #149ddd;
}

/*Projects*/

.projects .projects-item {
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.projects .projects-item:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.192);
  transform: scale(1.01) ;
  transition: transform 0.3s ease-in-out;
}

.projects #projects-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  text-align: center;
  background: #fff;
  border-radius: 50px;
}
.projects #projects-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.projects #projects-flters li:hover,
.projects #projects-flters li.active {
  color: #149ddd;
}

/*Contacts*/

.conatct {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.285);
}

.contact .info i {
  background: #149ddd1d;
  width: 44px;
  height: 44px;
  font-size: 20px;
  float: left;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.contact .info h4 {
  padding-left: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
  cursor: pointer;
}

.contact .info .email p {
  padding-top: 5px;
}
.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.285);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37b3ed;
}

/*footer*/

#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
